<div style="border:8px solid green;padding:16px;overflow:auto;">
<form class="commandForm" action="none" cmd="login">
<table style="font-size:64px;">
    <tr><td>
      <a cmd="login testing testing2" href="#">Test cmd</a>
    </td></tr>
    <tr><td>
      <tr><td>Username:</td>
          <td style="width:100%;"><input style="background:black;border:4px solid white;font-size:64px;" size="20" type="text" name="username"></td>
      </tr>
      <tr><td>Password:</td>
          <td style="width:100%;"><input style="background:black;border:4px solid white;font-size:64px;" size="20" type="password" name="password"></td>
      </tr>
      <tr><td><button type="submit">Submit</button>
    </td>
</table>
</form>
</div>
<br/>
